body {
    background: rgb(131, 58, 180);
    background: linear-gradient(162deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.5648853291316527) 50%, rgba(252, 176, 69, 1) 100%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.box div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.256);
    animation: float 6s ease-in-out infinite;
}

.box div:nth-child(1) {
    left: 5%;
    top: 10%;
}

.box div:nth-child(2) {
    left: 16%;
    top: 20%;
}

.box div:nth-child(3) {
    left: 9%;
    top: 111%;
}

.box div:nth-child(4) {
    left: 7%;
    top: 50%;
}

.box div:nth-child(5) {
    left: 60%;
    top: 50%;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
}

.box div:nth-child(7) {
    top: 60%;
    left: 70%;
}

.box div:nth-child(8) {
    top: 144%;
    left: 2%;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
}

.box div:nth-child(10) {
    top: 2%;
    left: 81%;
}

.box div:nth-child(11) {
    top: 10%;
    left: 60%;
}

.box div:nth-child(12) {
    top: 60%;
    left: 40%;
}

.box div:nth-child(13) {
    top: 36%;
    left: 81%;
}

.box div:nth-child(14) {
    top: 35%;
    left: 30%;
}

.box div:nth-child(15) {
    top: 10%;
    left: 60%;
}

.box div:nth-child(16) {
    top: 123%;
    left: 40%;
}

.box div:nth-child(17) {
    top: 149%;
    left: 80%;
}

.box div:nth-child(18) {
    top: 20%;
    left: 80%;
}

.box div:nth-child(19) {
    top: 10%;
    left: 40%;
}

.box div:nth-child(20) {
    top: 103%;
    left: 80%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

h1,
h4 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

h4 {
    color: rgb(244, 216, 61)
}

.pic>a>img {
    width: 2%;
}

.pic>a>img:hover {
    width: 3%;
}

.schermo {
    display: inline-block;
}

.container {
    background-image: url(./img/c1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: center;
}


input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-bottom-color: rgba(0, 0, 0, 0.465);
    margin: 15px;
    outline: none;
    color: rgba(255, 255, 255, 0.558);
}

::placeholder {
    color: rgba(255, 255, 255, 0.244);
    font-style: italic;
}

button {
    cursor: pointer;
}

.schermo {
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.287);
    border-radius: 15px;
    font-size: small;
    width: 300px;
    color: whitesmoke;
    padding: 20px;
}

.schermo:hover {
    text-align: center;
    box-shadow: 9px 9px 12px 9px rgba(0, 0, 0, 0.287);
    border-radius: 20px;
    font-size: large;
    width: 350px;
    color: whitesmoke;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.584);
}

strong {
    display: block;
    color: whitesmoke;
}

footer {
    margin-top: 5%;
}

button {
    margin-right: 20px;
}